USE [master]
GO
/****** Object:  Database [SecurityJwt]    Script Date: 8/24/2024 3:03:39 AM ******/
CREATE DATABASE [SecurityJwt]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SecurityJwt', FILENAME = N'D:\SQL_Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SecurityJwt.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SecurityJwt_log', FILENAME = N'D:\SQL_Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SecurityJwt_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SecurityJwt].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SecurityJwt]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 8/24/2024 3:03:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[role_id] [bigint] IDENTITY(1,1) NOT NULL,
	[role_code] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 8/24/2024 3:03:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[enable] [bit] NULL,
	[fullname] [varchar](100) NOT NULL,
	[password] [varchar](100) NOT NULL,
	[username] [varchar](100) NOT NULL,
	[role_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([role_id], [role_code]) VALUES (1, N'ADMIN')
INSERT [dbo].[roles] ([role_id], [role_code]) VALUES (2, N'USER')
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [enable], [fullname], [password], [username], [role_id]) VALUES (2, 1, N'Nguyen Tien Thuan', N'$2a$10$32QYJoO.7CcIBevi51yVVOCjb517SGg9J4wd5wxbdKW3oFABWOQV6', N'admin', 1)
INSERT [dbo].[users] ([id], [enable], [fullname], [password], [username], [role_id]) VALUES (3, 1, N'Thuan Dep Zai', N'$2a$10$NzQ.oMFQud3W9hTqfD78FuUrZh80hS8k3jSIBdnRLGMcMS5LIE/jW', N'thuan1', 2)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FKp56c1712k691lhsyewcssf40f] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([role_id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FKp56c1712k691lhsyewcssf40f]
GO
USE [master]
GO
